
<h1>Dependencies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dependencies.each do |dependency| %>
      <tr>
        <td><%= dependency.name %></td>
        <td><%= link_to 'Show', project_task_dependency_path(@project, @task, dependency) %></td>
        <td><%= link_to 'Edit', edit_project_task_dependency_path(@project, @task, dependency) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dependency', new_project_task_dependency_path(@project, @task) %> | 


<%= link_to 'Back to Tasks', project_tasks_path(@project) %>| 


<%= link_to 'Back to prtojects',projects_path %>